<a href="https://colab.research.google.com/github/Bhavyasiri202/Bhavyasiri202/blob/master/Python5BCA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Keywords are reserved words. There are 35 keywords present in python.

In [91]:
#code to print all the keywords present in python
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

Single line comment(specified using single or double quotes).

In [92]:
#single line comment--->shows the single line comment.
print('hello my dear friends')

hello my dear friends

Multi line comment(specified using doc string).

In [93]:
"""
multi line comment
how are you all
have a nice day guys
"""
print('hello CSE people')

hello CSE people

PYTHON DATATYPES

Based on the data types the interpreter allocates the memory. Varaible can take any data type such as integer,float numbers,strings etc

In [94]:
#here 3 variables have been created and stored the values as shown below
a=50
b=50
c=a+b
print(c)

100

In [95]:
#string datatype used as below
x='hello'
x

'hello'

PYTHON DATA STRUCTURES

1.List 2.Tuple 3.Dictionary 4.Sets.

1.LISTS IN PYTHON

In [96]:
#Creating a list with constructor()
a=([1,2,3,4,5])
b=([2.4,7.0,6.8])
c=(['hello','students'])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

In [97]:
type(a)

list

In [98]:
#creating list with heterogenous data:
a=(['hello',8,9,20.77])
a

['hello', 8, 9, 20.77]

In [99]:
#creating a list without constructor():
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [100]:
#accesing list items using index values:
days[1]

'tuesday'

In [101]:
#negative indexing:
#creating a list without constructor():
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[-1]

'sunday'

In [102]:
days[:]

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [103]:
#list slicing:
days[1:4]

['tuesday', 'wednesday', 'thursday']

In [104]:
#list slicing with step size:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[1:4:2]

['tuesday', 'thursday']

List built-in function

len() Returns the number of elements in a list

max() Returns element with greater value

min() Returns the element with lowest value

sum() Returns the sum of all elements in the list

random.shuffle() Shuffle the elements in a list randomly

In [105]:
#example1:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(days)

7

In [106]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [107]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [108]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [109]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[6, 8, 2, 5, 4, 7, 1, 3]

List Operators

"+" Concatenates two lists with each other

"*" Replicates the elements of lists

"in" -Used to determine whether the element is present in the list or not

-Returns true if the element is present in the list

-Returns false if the element is not present.

"is" Used to check whether two variables refer to the same object or not.

"del" Used to remove elements from the list.

In [110]:
#examples on operator:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [111]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [112]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' in days

True

In [113]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' not in days

False

In [114]:
a='Arshiya'
b='Arshiya'
a is b

True

In [115]:
a='Arshiya'
b='Lubna'
a is b

False

In [116]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
del[days[1]]
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

List Methods

append() Adds element at the end of the list

clear() Clear the contents of the list

count() Gives count of repeated items

copy() Copy list from one list to another list

extend() Joins the elements of 2 lists

In [117]:
a=['a','b','c','d']
print(a)
a.append('e')
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [118]:
list=['red','orange','pink','black']
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [119]:
nums=[1,2,3,4,1,4,1,7,8,1]
print(nums)
nums.count(1)

[1, 2, 3, 4, 1, 4, 1, 7, 8, 1]

4

In [120]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [121]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

PYTHON TUPLES

In [122]:
#creating tuple with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [123]:
#creating tuple with integers
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [124]:
#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [125]:
#creating tuple with strings
c=('one','two','three')
c

('one', 'two', 'three')

In [126]:
#creating tuple multiple data types
mix=('hello',708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [127]:
#accessing items of tuple
a=(1,2,3,4,'hello')
print(a[4])

hello

Tuple Methods

count() Returns the number of times a specified value occurs in a tuple

index() Searches the tuple for a specific value and returns the position of where it was found

Python Dictionary

In [128]:
#create a dictionary
a={
'name':'joy',
'age':23,
'education':'Engineer'
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'Engineer'}

In [129]:
len(a)

3

In [130]:
type(a)

dict

In [131]:
x=a.keys()
x

dict_keys(['name', 'age', 'education'])

In [132]:
y=a.values()
y

dict_values(['joy', 23, 'Engineer'])

In [133]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 23), ('education', 'Engineer')])

Python Sets

In [134]:
#Example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [135]:
#3duplicates not allowed
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [136]:
len(set)

7

In [137]:
type(set)

set

Python Operators

1.Arthematic operators

2.Comparison operators

3.Logical operators

4.Assignment operators

5.Special operators

a.Identity operators

b.Membership operators

Arthematic operators

In [138]:
a=5
b=7
print(a+b)

12

In [139]:
print(a-b)

-2

In [140]:
print(a*b)

35

In [141]:
print(a/b)

0.7142857142857143

In [142]:
print(a//b)

0

In [143]:
print(a%b)

5

In [144]:
print(a**b)

78125

Comparison operators

In [145]:
x = 5
y = 3
print(x == y)

False

In [146]:
x = 5
y = 3
print(x != y)

True

In [147]:
x = 5
y = 3
print(x > y)

True

In [148]:
x = 5
y = 3
print(x < y)

False

In [149]:
x = 5
y = 3
print(x < y)

False

In [150]:
x = 5
y = 3
print(x <= y)

False

Logical Operators

In [151]:
x = 5
print(x > 3 and x < 10)

True

In [152]:
x = 5
print(x > 3 or x < 4)

True

In [153]:
x = 5
print(not(x > 3 and x < 10))

False

Assignment Operators

some assignment operators:

In [154]:
x = 5
print(x)

5

In [155]:
x=x+3
print(x)

8

In [156]:
x = 5
x -= 3
print(x)

2

In [157]:
x = 5
x *= 3
print(x)

15

Python Functions

In [158]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5

In [159]:
def collectdata():
    """Function to collect data."""
    print("Collecting data...")
def cleandata():
    """Function to clean data."""
    print("Cleaning data...")
def processdata():
    """Function to pre-process the data."""
    print("Processing data...")
def exploredata():
    """Function to explore data."""
    print("Exploring data...")
def visualization():
    """Function to visualize data."""
    print("Visualizing data...")
if __name__ == "__main__":
    collectdata()
    cleandata()
    processdata()
    exploredata()
    visualization()

Collecting data...
Cleaning data...
Processing data...
Exploring data...
Visualizing data...